<?xml version="1.0"?>
<model>
  <name>terby</name>
  <version>1.0</version>
  <sdf version="1.8">terby.sdf</sdf>

  <author>
    <name>Thomas Bollenbach</name>
    <email>tbollenbach@ethz.ch</email>
  </author>

  <description>
  Rover model for crater at the 2025 ERC challenge.
  </description>
</model>